#part3 {
    background-image: linear-gradient(to bottom right, #d8ba12, #a02c4d);
    text-align: center;
}

#part3 > h1 {
    font-size: 40rem;
}

#part3 > h2 {
    font-size: 30rem;
}

#part4 {
    z-index: 10;
    background-color: rgb(236, 193, 193);
}

table {
    font-size: 23rem;
    margin: 30rem;
}

tr, th, td {
    border: 1rem solid white;
    padding: 10rem;
}